:root {
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --azul-botao: #167BF7;
    --fundo: #00030C;
}

body {
    background-color: var(--fundo);
    color: var(--branco-principal);
    font-family: 'Inter', sans-serif;
}

.principal {
    background-image: url(./img/Background.png);
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__botao {
    background-color: var(--azul-botao);
    color: var(--branco-principal);
    padding: 1em 8em;
    border-radius: 8px;
    text-decoration: none;
    display: block;
}

.botao_secundario {
    background-color: transparent;
    border: 1px solid var(--branco-principal);
}

.container__aviso {
    color: var(--cinza-secundario);
    font-size: .75em;
}